<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<button type="button" class="btn btn-success" onclick="save()">添加</button>
<form id="user_form">
    <input type="hidden" id="id" name="id"/>
    <input type="text" id="name" name="name"/>
    <input type="text" id="password" name="password"/>
    <input type="text" id="phone" name="phone"/>
</form>
<button type="button" class="btn btn-success"><a  onclick="updateUser(this)">保存修改</a></button>
<table>
    <tbody>
    <tr>
        <th class="text-center">用户id</th>
        <th class="text-center">用户姓名</th>
        <th class="text-center">电话</th>
    </tr>
    <tr th:each="user:${users}">
        <td class="text-center" th:text="${user.userId}"></td>
        <td class="text-center" th:text="${user.userName}"></td>
        <td class="text-center" th:text="${user.phone}"></td>
        <td class="text-center">
            <div class="btn-group">
                <button  class="btn btn-default btn-sm" type="button"><a th:value="${user.userId}" onclick="findOneUser(this)">修改</a></button>
            </div>
        </td>
        <td class="text-center">
            <div class="btn-group">
                <button  class="btn btn-default btn-sm" type="button"><a th:value="${user.userId}" onclick="deleteUser(this)">删除</a></button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<script th:src="@{js/jquery/jquery-3.3.1.js}"></script>
<script th:src="@{js/layer/layer.js}"></script>
<script th:inline="javascript">
//    $(document).ready(function(){
//
//    });
    function updateUser (obj){
        $.ajax({
            type:'POST',
            url:/*[[@{/pub/updateUser}]]*/,
            data:$("#user_form").serialize(),
            success:function(result){
                if (result.code == "0") {
                    window.location.href=/*[[@{/pub/allUser}]]*/;
                }else {
                    layer.msg(result.msg, {icon: 0, time: 2000}, function(){});
                }
            }
        });
    }
    function findOneUser(obj){
        var fid = $(obj).attr('value');
        $('#id').val(fid)

        $.post(/*[[@{/pub/findOneUser}]]*/,{
            id:fid
        },function(result) {
            $('#name').val(result.user.name);
            $('#password').val(result.user.password);
            $('#phone').val(result.user.phone);
        })
    }
    function deleteUser (obj){
        var fid = $(obj).attr('value');
        $.post(/*[[@{/pub/deleteUser}]]*/,{
            fid:fid
        },function(result) {
            if (result.code == 0) {
                layer.msg(result.msg, {icon: 0, time: 2000}, function(){
                    window.location.href =/*[[@{/pub/allUser}]]*/
                });
            }else{
                layer.msg(result.msg, {icon: 0, time: 2000}, function(){

                });
            }
        })
    }
    function save() {
        $.ajax({
            type:'POST',
            url:/*[[@{/pub/addUser}]]*/,
            data:$("#user_form").serialize(),
            success:function(result){
                if (result.code == "0") {
                    window.location.href=/*[[@{/pub/allUser}]]*/;
                }else {
                    layer.msg(result.msg, {icon: 0, time: 2000}, function(){});
                }
            }
        });
    }
</script>
</body>
</html>